# Datos pesados
data/CY08MSP_STU_QQQ.SAV
data/00_pisa_filtered-columns.csv
data/PISA_2022._Programa_para_la_Evaluacion_Internacion.pdf
data/.~lock.*

# Jupyter
.ipynb_checkpoints/
**/.ipynb_checkpoints/
*.html

# Python
__pycache__/
*.py[cod]
.env

# Claude
.claude/
